footer {
    display: flex;
    justify-content: end;
    padding-right: 5%;
}

.navFooter {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 25vw;
    img {
        width: 4vw;
    }
}